<div id="new-location-error" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header" style="background: #CF3530;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Error</h4>
      </div>
      
      <div class="modal-body" style="color: #000;">
        You are not zoomed in far enough to add a location or must be logged in to create location.
      </div>
      
      <button type="button" class="btn btn-primary btn-lg" style="margin-left: 10px;margin-bottom:10px;"><%= link_to " login ", new_user_session_path, :id => 'new-location-error-modal-button' %></button>

    </div>
  </div>
</div>
