<div id="new-location-error" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Error</h4>
      </div>

      <div class="modal-body">
        <p>You must be logged in to create location.</p>
      </div>
      <div class="modal-footer">
        <%= link_to 'login', new_user_session_path, :id => 'map-error-login-btn' %>
      </div>
    </div>
  </div>
</div>
