<%= render 'form' %>

<p id="notice"><%= notice %></p>

<div class="meetup">

  <div class="meetup-content">
    <h1> create <br> meetup </h1>
    <p>
      <%= @spot.description %>
    </p>

     <div class="form-group">
      <label>date and time</label>
      <input type="text" class="form-control" id="usr">
      <input type="text" class="form-control" id="usr">
    </div>

    <button type="button" class="btn btn-default">Create</button>

    <ul class="edit-back">
      <li><%= link_to 'Back', spots_path %></li>
    </ul>

  </div>

</div>
