.comments-container {
  margin-bottom: 3em;

  .comment-box {
    padding-bottom: 2rem;

    .btn-submit-container {
      padding-top: 1rem;
    }
  }

  .comment-panel {

    .comment {
      border: 1px solid $primary-color;
      display: flex;
      flex-direction: column;

      .comment-header {
        align-content: space-between;
        background: $primary-color;
        color: $white;
        display: flex;
        justify-content: space-between;
        padding: .5rem;

        a {
          background: none;
          color: $white;
          padding: 0;
        }
      }

      .comment-body {
        align-content: space-between;
        display: flex;

        .comment-body-text {
          flex-grow: 50;
        }

        .comment-delete {
          flex-basis: 50px;
          flex-grow: 1;
        }
      }
    }
  }
}
