@charset "utf-8";
/* CSS Document */

html, body {
	margin: 0;
	padding: 0;
	background-image:;
	background-size: cover;
	background-color: rgba(0,17,65,.85);
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
}

.htmlbodycolor {
	background-color: #297ACC;
	background-image: none;
}

.navdiv {
	background-color: #7A6F65;
	margin: 0;
	height: 65px;
}

.navdivoff {
	display: none;
}

.bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
}

.greetingbox {
	height: 300px;
}

.removegreetingbox {
	display: none;
}

.wrapper {
	overflow: hidden;
}

.wrapperoff {
	position:;
	display: none;
	margin: 0;
}

.infoone {
	float: left;
	height: 30px;
	width: 20%;
}

.infotwo {
	overflow: hidden;
	height: 30px;
	width: 60%;
}

.infothree {
	float: right;
 	height: 30px;
	width: 20%;
	margin-top: -30px;
}

.infofour {
	float: left;
	height: 100px;
	width: 25%;
}

.infofive {
	overflow: hidden;
	height: 100px;
	width: 50%;
}

.infosix {
	float: right;
 	height: 100px;
	width: 25%;
	margin-top: -100px;
}

#colorone{
	background-color: #2A438B;
}

#colortwo {
	background-color: #FFF; 
}

.infooff {
	display: none;
}

.featuredcontent {
	background-color: #FFF;
	height: 350px;
	padding: 5%;
}

.footer {
	height: 200px;
	background-color: #0031C0;
}

.mapbox {
	overflow: hidden;
}

.controlsoff {
	display: none;

}

.controlson {
	display: inherit;
	position: absolute;
	float: left;
	height: 383px;
	width: 30%;
	background-color: #FFF;
	padding:0;
	background-image: url(mantwo.jpg);
}

#myMap {
	float: left;
	position: absolute;
	left: -2000px;
	height: 383px;
	width: 70%;
	margin-left: 30%;
}

input {
	height: 35px;
	color: #000;
	background-color: #FFF;
	text-align: center;
}

.mymapoff {
	display: none;
}

.mymapon {
	display: inherit;
}

.videostop {
	display: none;
}
