<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="signup-notification">
      <h1>Thanks for joining our BOMBHILLS community, <%= @user.name %></h1>
      <p>
        We hope you start tagging new spots the rest of us can enjoy, in the meantime - refer a friend! 
      </p>
      <p>Thanks, </br> BOMBHILLS </br></br> www.bombhills.com </br> Twitter: https://twitter.com/Bombhillstweets </br> Instagram: https://www.instagram.com/bombhillspics/ </p>
    </div>
  </body>
</html>
