<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="signup-notification">
      <h1>Thanks for joining our BOMBHILLS community, <%= @user.name %></h1>
      <p>
        We hope you start tagging new spots the rest of us can enjoy, in the meantime would you refer a friend?
      </p>
       <form>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Name:</label>
          <input type="name" class="form-control" id="name">
        </div>
        <button type="submit" class="btn btn-default">Send Referral</button>
      </form>
    </div>
  </body>
</html>
