<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="signup-mailer">
      <h1>Thanks for joining our BOMBHILLS community, <%= @user.name %></h1>
      <p>
        We hope you start finding new locations nearby, meeting new people to ride with, 
      </p>
      <p>Refer a friend: </p>
       <form>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Name</label>
          <input type="password" class="form-control" id="pwd">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </body>
</html>
