<%= render 'layouts/navbar' %>

<div class="meetup-form-container container">

  <h1>Create new Meetup for <%= @spot.title %></h1>

  <%= render 'form' %>

  <%= link_to 'Back', spot_meetups_path %>

</div>
