#notice {
  color: #008000;
  margin: 0;
  padding: 0;
}

.field-with-errors {
  padding: 2px;
  margin: 0;
  background-color: #ff0;
  display: table;
}

#error-explanation {
  margin: 0 auto;
  width: 450px;
  border: 2px solid #ff0;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: $white;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }

}

.meetups {
  color: $white;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  background: 0;
  border-bottom: thin solid $white;

}

#new-meetup-submit input {
  color: $white;
  padding: 7px 12px;
  border-radius: 6px;
}
