.meetups-index {
  background: $white;
  background-size: cover;
  color: $primary-color;
  padding-top: 54px;

  h1 {
    font-family: $font-cursive;
  }

  .meetups-list {
    margin: 3em 0;

    h2 {
      font-family: $font-cursive;
      margin-bottom: 0;

      a {
        color: $black;

        &:hover {
          background: none;
          color: $primary-color;
          text-decoration: none;
        }
      }
    }

    .time {
      font-size: small;
      font-style: italic;
    }

    .description {
      font-size: larger;
      margin: 1em 0;
    }
  }

  .btn-create-meetup {
    color: $white;
  }
}
