.meetups {
  @include display(flex);
  background: $primary-color;
  color: $white;
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-size: cover;

  h1 {
    font-family: $font-stack;
    font-weight: $thin;
  }

  h2 {
    font-family: $font-stack;
    font-weight: $thin;
  }

  input {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    background: none;
    border-bottom: thin solid $white;
  }
}

.meetups-btn {
  color: #0d003d;
  background: $white;
  padding: 5px 10px;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  &:hover {
    text-decoration: none;
  }
}
