#nav-search-bar {
  border-radius: 0;
  padding: 0;
}

#navbar-search-btn {
  border-radius: 0;
  padding: 7px 12px;
}

.navbar-brand {
  font-family: $font-cursive;
  font-weight: $bold;
}

.nav li a {
  color: $background-color;
  font-family: $font-sans;
  font-size: 16px;
  font-weight: 400;
}
