#user-spots-modal-dialog .modal-content {
  background: $tertiary-color;
  color: $white;

  .modal-header {
    border: none;
  }

  .spot-select {
    margin-bottom: 2em;
  }

  .spots-table table {
    tr th {
      border-bottom: 2px solid #fb4148;
    }

    tr th {
      padding-right: 50px;
    }

    .btn-view, .btn-edit {
      color: $white;
    }

    .btn-edit {
      background-color: $tertiary-color;
    }

    .btn-delete {
      background-color: $primary-color;
    }

  }
  .form-control {
    background: $secondary-color;
    color: $white;
    border-radius: 0;
    border: none;
    background: none;
    border-bottom: thin solid $primary-color;
  }

  input, textarea, select, option {
    background: $tertiary-color;
    color: $white;
  }
}

@media (min-width: 1200px) {
  #user-spots-modal-dialog {
    width: 900px;
  }
}
