// spots modal

#spots-modal-header {
  background: $background-color;
  border: 0;
}

#spots-modal-body {
  padding: 0;

  #left {
    background: $primary-color;
    position: absolute;
    height: 400px;
    width: 150px;

    ul {
      list-style-type: none;
      padding: 0;
      color: $white;
    }

    li {
      height: 200px;
      line-height: 200px;
      text-align: center;
      cursor: pointer;
      background: $primary-color;

      &:hover {
        background: $black;
      }
    }
  }


  #right {
    margin-left: 150px;
    background: $tertiary-color;
    height: 400px;
    padding: 10px;
  }
}

.user-spots p {
  text-align: center;
  color: $white;
  font-size: 24px;
  font-family: 'Kanit', sans-serif;
  font-weight: $thin;
}

.user-spots .form-control {
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
  width: 300px;
  border-radius: 0;
  border: 0;
  color: $white;
  border-bottom: thin solid $primary-color;
  background: none;
}

#spots-edit-btn, #spots-btn {
  background-color: $primary-color;
  font-size: 42px;
}

#users-spots-edit-form {
  background: $tertiary-color;
}

.user-spots-edit .form-control {
  color: $white;
  border-radius: 0;
  border: 0;
  background: none;
  border-bottom: thin solid $primary-color;
}

.user-spots ul {
  color: $white;
  padding-left: 65px;
}

.user-spots li {
  display: inline;
  cursor: pointer;
}

.user-spots li:last-child {
  margin-left: 10px;

}

@media only screen and (max-width : 565px) {
  #spots-modal-header {
    background: $primary-color;
  }

  #spots-modal-body #left {
    position: inherit;
    width: 100%;
    height: 200px;
  }

  #spots-modal-body #right {
    margin-left: 0;
  }

  #spots-modal-body #left li {
    height: 100px;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
    background: $primary-color;
  }

  .user-spots .form-control {
    margin-top: 30px;
    width: 200px;
  }

  .user-spots ul {
    padding-left: 0;
    text-align: center;
  }
}

@media only screen and (min-width : 565px ) and (max-width : 768px) {
  #spots-modal-header {
    background: $primary-color;
  }

  #spots-modal-body #left {
    position: inherit;
    width: 100%;
    height: 200px;
  }

  #spots-modal-body #right {
    margin-left: 0;
  }

  #spots-modal-body #left li {
    height: 100px;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
    background: $primary-color;
  }

  .user-spots .form-control {
    margin-top: 30px;
    width: 200px;
  }

  .user-spots ul {
    padding-left: 0;
    text-align: center;
  }
}

@media only screen and (min-width : 768px) and (max-width: 992px) {
  #spots-modal-header {
    background: $primary-color;
  }

  #spots-modal-body #left {
    position: inherit;
    width: 100%;
    height: 200px;
  }

  #spots-modal-body #right {
    margin-left: 0;
  }

  #spots-modal-body #left li {
    height: 100px;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
    background: $primary-color;
  }

  .user-spots .form-control {
    margin-top: 30px;
    width: 200px;
  }

  .user-spots ul {
    padding-left: 0;
    text-align: center;
  }
}

@media only screen and (min-width : 992px) and (max-width: 1200px) {

}

@media only screen and (min-width : 1200px) {

}
