// spots modal

#spots-modal-header {
  background: $background-color;
  border: 0;
}

#spots-modal-body {
  padding: 0;

  #left {
    background: $primary-color;
    height: 400px;
    position: absolute;
    width: 150px;

    ul {
      color: $white;
      list-style-type: none;
      padding: 0;
    }

    li {
      background: $primary-color;
      cursor: pointer;
      height: 200px;
      line-height: 200px;
      text-align: center;

      &:hover {
        background: $black;
      }
    }
  }


  #right {
    background: $tertiary-color;
    height: 400px;
    margin-left: 150px;
    padding: 10px;
  }
}

.user-spots p {
  color: $white;
  font-family: 'Kanit', sans-serif;
  font-size: 24px;
  font-weight: $thin;
  text-align: center;
}

.user-spots .form-control {
  background: none;
  border: 0;
  border-bottom: thin solid $primary-color;
  border-radius: 0;
  color: $white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
  width: 300px;
}

#spots-edit-btn,
#spots-btn {
  background-color: $primary-color;
  font-size: 42px;
}

#users-spots-edit-form {
  background: $tertiary-color;
}

.user-spots-edit .form-control {
  background: none;
  border: 0;
  border-bottom: thin solid $primary-color;
  border-radius: 0;
  color: $white;
}

.user-spots ul {
  color: $white;
  padding-left: 65px;
}

.user-spots li {
  cursor: pointer;
  display: inline;
}

.user-spots li:last-child {
  margin-left: 10px;
}

.edit-buttons {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width : 565px) {
  #spots-modal-header {
    background: $primary-color;
  }

  #spots-modal-body #left {
    height: 200px;
    position: inherit;
    width: 100%;
  }

  #spots-modal-body #right {
    margin-left: 0;
  }

  #spots-modal-body #left li {
    background: $primary-color;
    cursor: pointer;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }

  .user-spots .form-control {
    margin-top: 30px;
    width: 200px;
  }

  .user-spots ul {
    padding-left: 0;
    text-align: center;
  }
}

@media only screen and (min-width : 565px ) and (max-width : 768px) {
  #spots-modal-header {
    background: $primary-color;
  }

  #spots-modal-body #left {
    height: 200px;
    position: inherit;
    width: 100%;
  }

  #spots-modal-body #right {
    margin-left: 0;
  }

  #spots-modal-body #left li {
    background: $primary-color;
    cursor: pointer;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }

  .user-spots .form-control {
    margin-top: 30px;
    width: 200px;
  }

  .user-spots ul {
    padding-left: 0;
    text-align: center;
  }
}

@media only screen and (min-width : 768px) and (max-width: 992px) {
  #spots-modal-header {
    background: $primary-color;
  }

  #spots-modal-body #left {
    height: 200px;
    position: inherit;
    width: 100%;
  }

  #spots-modal-body #right {
    margin-left: 0;
  }

  #spots-modal-body #left li {
    background: $primary-color;
    cursor: pointer;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }

  .user-spots .form-control {
    margin-top: 30px;
    width: 200px;
  }

  .user-spots ul {
    padding-left: 0;
    text-align: center;
  }
}

@media only screen and (min-width : 992px) and (max-width: 1200px) {

}

@media only screen and (min-width : 1200px) {

}
