/* map */

.dashboard {
  position: absolute;
  width: 300px;
  height: 100%;
  left: 0;
  z-index: 3;
  background-color: $white;
  box-shadow: 6px 2px 40px -14px rgba(0,0,0,0.75);
}

.hamburger-btn {
  position: absolute;
  z-index: 1;
  background: $primary-color;
  margin: 10px;
  padding: 2px;
  padding-bottom: 0;
  border-radius: 6px;
  box-shadow: -1px 6px 17px -8px rgba(0,0,0,0.75);
}

#hamburger-btn {
  font-size: 38px;
  color: $white;
  padding-top: 2px;
  padding-left: 2px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.nav-tools ul {
  list-style-type: none;
  padding: 0;
}

#dash-title a {
  font-family: $font-stack;
  font-weight: $thin;
  font-size: 24px;
}

.nav-tools li {
  height: 60px;
  cursor: pointer;
  line-height: 70px;
  text-align: left;
  padding-left: 28px;
}

.nav-tools li p {
  font-family: $font-stack;
  font-weight: $thin;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  letter-spacing: 1px;

}

.nav-tools li a {
  font-family: $font-stack;
  font-weight: $thin;
  display: inline-block;
  vertical-align: middle;
  margin-top: 1px;
  text-decoration: none;
  font-size: 20px;
  color: $black;

}

.nav-tools li a:hover {
  background: none;
}

.nav-tools li img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.input-group {
  padding-top: 20px;
  padding-right: 40px;
}

.form-control {
  height: 37.2px;
}

#search-li {
  padding-left: 23px;
  background: $white;

  #form {
    @include display(flex);

    #map-search-btn {
      width: 30%;
      border: 0;

      span {
        font-size: 22px;
        border: 0;
      }
    }

    #search-input {
      border-bottom: thin solid $primary-color;
      border-left: none;
      border-right: none;
      border-top: none;
      border-width: 2px;
      width: 175px;
      font-size: 20px;
      color: #142CA4;
      background: $white;
      text-align: left;
      font-family: $font-stack;
      font-weight: $thin;

    }
    #search-input.form-control {
      padding-left: 4px;
    }
  }
}


#map-error-login-btn {
  background: $white;
  padding: 7px 14px;
  border-radius: 6px;
  font-size: 20px;
  color: $black;
  box-shadow: 1px 17px 31px -9px rgba(0,0,0,0.75);
}

#map-error-login-btn:hover {
  color: $black;
  text-decoration: none;
}

#myMap {

}

#fullscreen-btn {
  background: $white;
}

.alert {
  z-index: 1;
  position: absolute;
  right: 0;
  margin-top: 10px;
  margin-right: 15px;
  font-size: 16px;
  height: 52px;
  box-shadow: 1px 17px 31px -9px rgba(0,0,0,0.75);
}

#new-location-error-modal-button {
  border: none;
}

.leaflet-popup-content-wrapper {
  background: $primary-color;
  color: $white;
}

.leaflet-popup-content-wrapper b {
  font-family: $font-stack;
  font-weight: $thin;
  font-size: 32px;
}

.leaflet-popup-content-wrapper a {
  font-size: 24px;
  color: $white;
  font-weight: $thin;
}

.leaflet-popup-content-wrapper a:hover {
  background: none;
  cursor: pointer;
  color: #233E47;
  text-decoration: none;
}

.leaflet-popup-content-wrapper a:last-child {
  font-size: 18px;
}

.spots-btn, .spots-edit-btn {
  font-size: 50px;
}

#right > button {
  color: $white;
  margin-bottom: 10px;
}

#new-location-error {
  .modal-content {
    background: #CF3530;
    padding-bottom: 10px;
  }

  .modal-header {
    background: #CF3530;
    border: none;
    color: $white;
  }

  .modal-body {
    color: $white;
    background: #CF3530;

    p {
      margin-bottom: 30px;
    }
  }

  .modal-footer {
    color: $white;
    background: #CF3530;
    border:none;
  }
}

.spots-index {
  .input-group {
    padding-right: 0;
    padding-top: 15px;
  }

  #map-search-btn {
    display: none;
  }

  #map-id {
    #hamburger-btn span {
      font-size: 40px;
    }

    .alert {
      background: $primary-color;
      color: $white;
      border-color: $primary-color;

      a {
        padding-left: 10px;
        color: $white;
        font-size: 24px;
      }
    }
  }
}

/*  Media Queries  */

/* Custom */

@media only screen and (max-width: 370px) {
  .dashboard {
    left: -100%;
  }
  .alert {
    font-size: 14px;
  }

}

@media only screen and (min-width: 370px) and (max-width: 472px) {
  .alert {
    font-size: 14px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 472px) and (max-width : 565px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 565px ) and (max-width : 768px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 992px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1200px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* report modal */

#report-modal {
  background: $primary-color;
}

#report-modal .modal-header {
  border: none;
}

#report-modal .modal-header h4 {
  font-family: $font-stack;
  font-weight: $thin;
  font-size: 36px;
  color: $primary-color;
}


#report-modal .modal-footer {
  border: none;
}
