.show-spot-container {
  display: flex;
  height: inherit;
  padding-top: 54px;

  .random-image-1 {
    background: url('pier.jpg');
  }

  .random-image-2 {
    background: url('dark.jpg');
  }

  .random-image-3 {
    background: url('desert.jpg');
  }

  .random-image-4 {
    background: url('green.jpg');
  }

  .random-image-5 {
    background: url('pier.jpg');
  }

  .side-image-container {
    background-position: center;
    background-size: cover;
    flex-basis: 0;
    flex-grow: 10;
    height: inherit;
  }

  .menu-container {
    align-content: center;
    align-items: center;
    background: $grey;
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
    height: inherit;
    justify-content: center;

    .glyphicon {
      color: $black;
      font-size: 20px;
      margin: 15px 0;
    }

    .menu-child {
      align-content: center;
      align-items: center;
      color: $black;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      letter-spacing: 1px;
      width: 100px;

      &.active {
        background: $primary-color;
        color: $white;

        .glyphicon {
          color: $white;
        }
      }


      &:hover:not(.active) {
        border-right: thick solid $primary-color;
      }
    }
  }

  .spot-info-container {
    box-shadow: -5px 3px 18px -3px rgba(0, 0, 0, .30);
    flex-basis: 0;
    flex-grow: 10;
    height: inherit;
    padding: 20px 0;
    text-align: center;

    .spot-info-content h1 {
      color: $primary-color;
      font-family: 'Kanit', sans-serif;
      font-size: 64px;
      font-weight: $thin;
      letter-spacing: 1px;
    }

    .spot-info-content h6 {
      color: $primary-color;
      font-family: 'Kanit', sans-serif;
      font-size: 26px;
      font-weight: 100;
    }

    .spot-info-content p {
      color: $black;
      font-family: 'Kanit', sans-serif;
      font-size: 22px;
      font-weight: 100;
    }

    .spot-info-content mark {
      background: 0;
      color: $primary-color;
      padding: 0;
    }

    .show-spot-content {
      height: inherit;
      padding: 2em;
    }

    // spot meetups content

    .spot-meetups-content {
      font-family: 'Kanit', sans-serif;
      font-weight: $thin;

      p {
        font-size: 22px;
        line-height: 22px;
      }

      a {
        background: $black;
        border-radius: 2px;
        color: $white;
        cursor: pointer;
        font-size: 26px;
        padding: 5px 10px;
      }

      &:hover {
        text-decoration: none;
      }
    }

    .create-meetup-btn {
      margin-bottom: 25px;
    }
  }
}

@media only screen and (max-width: 370px) {
  .show-spot-container .menu-container .menu-child {
    width: 75px;
  }

  .show-spot-container .spot-info-container .spot-meetups-content a {
    font-size: 16px;
    padding: 4px 8px;
  }

  .show-spot-container .spot-info-container .spot-info-content h1 {
    font-size: 32px;
  }

  .show-spot-container .menu-container .menu-child p {
    display: none;
  }
}

@media only screen and (min-width: 370px) and (max-width: 472px) {
  .show-spot-container .menu-container .menu-child {
    width: 75px;
  }

  .show-spot-container .spot-info-container .spot-meetups-content a {
    font-size: 16px;
    padding: 4px 8px;
  }

  .show-spot-container .spot-info-container .spot-info-content h1 {
    font-size: 32px;
  }
}

@media only screen and (min-width: 472px) and (max-width : 565px) {

}

@media only screen and (min-width : 565px ) and (max-width : 768px) {

}

@media only screen and (min-width : 768px) and (max-width: 992px) {

}

@media only screen and (min-width : 992px) and (max-width: 1200px) {

}

@media only screen and (min-width : 1200px) {

}
