<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You sent the following to bombhills.com:
    </p>
    <p>
      From: <%= @msg.name %>,
    </p>
    <p>
      <%= @msg.content %>
    </p>
  </body>
</html>
