.conversations-container {
  margin-top: 95px;
}

.spacer {
  margin-top: 20px;
}

.message-nav-pills {
  float: inherit;

  .btn-success {
    background: $primary-color;
    color: $white;

    &:hover {
      background: $primary-color;
      border-color: $primary-color;
    }
  }
}

.message-avatar {
  height: 100px;
  width: 100px;
}

#send-message-btn {
  background: $primary-color;
  color: $white;

  &:hover {
    background: $primary-color;
    border-color: $primary-color;
  }
}

@media only screen and (max-width: 370px) {

}

@media only screen and (min-width: 370px) and (max-width: 472px) {

}

@media only screen and (min-width: 472px) and (max-width : 565px) {

}

@media only screen and (min-width : 565px ) and (max-width : 768px) {

}

@media only screen and (min-width : 768px) and (max-width: 992px) {

}

@media only screen and (min-width : 992px) and (max-width: 1200px) {

}

@media only screen and (min-width : 1200px) {

}
