<% title 'Posts' %>
<%= render 'layouts/navbar' %>
<div class="user-posts">
  <h1> DISCOVER </h1>
  <div class="container" id="posts-container">
    <% @posts.each_slice(3) do |posts| %>
      <div class="row">
        <%= render partial: 'post', collection: posts %>
      </div>
    <% end %>
  </div>
  <% unless @posts.current_page == @posts.total_pages %>
    <p id="view-more">
      <%= link_to('View More', url_for(page: @posts.current_page + 1), remote: true) %>
    </p>
  <% end %>
</div>
