@charset "utf-8";
/* CSS Document */

.activebutton {
	opacity: .5;
}

#findmebutton {
	cursor: pointer;
	color: #FFF;
	text-align: center;
	height: 75px;
}


#addspotbutton {
	cursor: pointer;
	color: #FFF;
	text-align: center;
	height: 75px;
}

#closemapbutton {
	cursor: pointer;
	color: #FFF;
	text-align: center;
	height: 75px;
}


#locateicon {
	display: block;
    margin: auto;
	padding-top: 7px;
	cursor: pointer;
}

#addicon {
	display: block;
    margin: auto;
	padding-top: 7px;
	cursor: pointer;
}


#closeicon {
	display: block;
    margin: auto;
	padding-top: 7px;
	cursor: pointer;
}

#pinimage {
	display: block;
	cursor: pointer;
}

.mapbuttonhighlight {
	color: #000;
	background-color: #FFF;
}
