
label {
  margin: 10px 0px;
}

input {
  text-align: center;
}

input[type="title"] {
  width: 90%;
}

.modal-open {
  overflow-y: auto;
}

.submitimg {
  margin: 15px;
  margin-left: 0px;
  background: #fff;
  color: #000;
}

.close {
  font-size: 45px;
}

/* modals */

/* spots modal */

#spots-modal-header {
  background: var(--background-color);
  border: none;
}

#spots-modal-body {
  padding: 0px;
}

#spots-modal-body #left {
  background: var(--main-color);
  position: absolute;
  height: 350px;
  width: 150px;
}

#spots-modal-body #left ul {
  list-style-type: none;
  padding: 0;
  color: #FFF;
}

#spots-modal-body #left li {
  height: 175px;
  line-height: 210px;
  text-align: center;
  cursor: pointer;
  background: var(--main-color);
}

#spots-modal-body #left li:hover{
  background: var(--main-color);
}


#spots-modal-body #right {
  margin-left: 150px;
  background: var(--background-color);
  height: 350px;
  padding: 10px 10px;
}


.userspots .form-control {
  margin-left: auto;
  margin-right: auto;
  margin-top: 125px;
  width: 300px;
  border-radius: 0px;
  border: none;
  color: #FFF;
  border-bottom: thin solid var(--main-color);
  background: none;
}

.usersspotsedit .form-control {
  color: #FFF;
  border-radius: 0px;
  border: none;
  background: none;
  border-bottom: thin solid var(--main-color);
}

.userspots ul {
  color: #FFF;
  padding-left: 65px;
}

.userspots li {
  display: inline;
  cursor: pointer;
}

.userspots li:last-child {
  margin-left: 10px;
  
}

/* report modal */

#reportModal {
  background: var(--secondary-color);
}

#reportModal .modal-header {
  border: none;
}

#reportModal .modal-header h4 {
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  font-size: 36px;
  color: var(--secondary-color);
}


#reportModal .modal-footer {
  border: none;
}

/*  Media Queries  */


/* Custom, iPhone Retina */
@media only screen and (max-width : 565px) {
  #spots-modal-header {
    background: var(--main-color);
  }
  
  #spots-modal-body #left {
    position: inherit;
    width: 100%;
    height: 200px;
  }
  #spots-modal-body #right {
    margin-left: 0px;
  }
  #spots-modal-body #left li {
    height: 100px;
    line-height: 135px;
    text-align: center;
    cursor: pointer;
    background: var(--main-color);
  }
  .userspots .form-control {
    margin-top: 30px;
    width: 200px;
  }
  .userspots ul {
    padding-left: 0px;
    text-align: center;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 565px ) and (max-width : 768px) {
  #spots-modal-header {
    background: var(--main-color);
  }
  
  #spots-modal-body #left {
    position: inherit;
    width: 100%;
    height: 200px;
  }
  #spots-modal-body #right {
    margin-left: 0px;
  }
  #spots-modal-body #left li {
    height: 100px;
    line-height: 135px;
    text-align: center;
    cursor: pointer;
    background: var(--main-color);
  }
  .userspots .form-control {
    margin-top: 30px;
    width: 200px;
  }
  .userspots ul {
    padding-left: 0px;
    text-align: center;
  }
}	

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 992px) {
  #spots-modal-header {
    background: var(--main-color);
  }
  
  #spots-modal-body #left {
    position: inherit;
    width: 100%;
    height: 200px;
  }
  #spots-modal-body #right {
    margin-left: 0px;
  }
  #spots-modal-body #left li {
    height: 100px;
    line-height: 135px;
    text-align: center;
    cursor: pointer;
    background: var(--main-color);
  }
  .userspots .form-control {
    margin-top: 30px;
    width: 200px;
  }

  .userspots ul {
    padding-left: 0px;
    text-align: center;
  }
}	

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1200px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}