
html, body, .container-fluid, .wrapper, #mapid { height: 100%; }

// variables //

:root {
  --main-color: #333;
  --secondary-color: #0D7EB1;
  --background-color: #fb4148;
}

#bluecolor {
  color: #142CA4;
}