/* map */

.dashboard {
    position: absolute;
    width: 250px;
    height: 100%;
    left: 0;
    z-index: 1;
    background-color: #EEE;
    box-shadow: 5px 0 5px -5px #333;
}

.userinfo {
    height: 125px;
    width: 100%;
    background: #EEE;
}

.navtools ul {
    list-style-type: none;
    padding: 0px;
}

.navtools li {
    height: 75px;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
    line-height: 75px;
    color: #292B30;
    font-size: 16px;
    text-align: left;
    padding-left: 35px;
}

.navtools li:hover {
    color: #FFF;
    background: #292B30;
}

.navtools li p {
    display: inline-block;
    vertical-align: middle;
    margin-top: 9px;
    padding-left: 6px;
    
}

.input-group {
    padding-top: 20px;
    padding-right: 40px;
}

.form-control {
    height: 37.2px;
}

#searchli {
    padding-left: 23px;
    background: #2A83C6;
}

span {
    vertical-align: middle;
    padding-right: 6px;
}

#myMap {

}
