/* navbar css */

#nav-search-bar {
  padding: 0px;
  border-radius: 0px;
}

#navbar-search-btn {
  border-radius: 0px;
  padding: 7px 12px;
}

.navbar-brand {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
}

.nav li a {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--background-color);
}
