#nav-search-bar {
  padding: 0;
  border-radius: 0;
}

#navbar-search-btn {
  border-radius: 0;
  padding: 7px 12px;
}

.navbar-brand {
  font-family: $font-stack;
  font-weight: 400;
}

.nav li a {
  font-family: $font-stack;
  font-weight: 400;
  font-size: 16px;
  color: $background-color;
}
