// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.userposts {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
    padding-top: 60px;
    padding-bottom: 40px;
}

.thumbnail {

}

.userposts h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    margin-top: 0px;
    padding: 20px 0px;
    color:#0F2F46;
}

.userposts p {
    text-align: center;
    margin-bottom: 30px;
}

.userposts img {
    margin-bottom: 20px;
}

#userbutton {
    color: #FFF;
    background: #0F2F46;
}

/*  Media Queries  */

/* Custom */ 

/* Custom, iPhone Retina */

@media only screen and (max-width : 480px) {
    .userposts ul {
        text-align: right;
        margin-right: 10px;
        margin-bottom: 20px;
        padding: 0px;
    }
}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width : 768px) {


}	

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}	

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
