// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-posts {
  padding-top: 60px;
  padding-bottom: 40px;
}

.thumbnail {
  border: none;
}

.caption h3 {
  margin-top: 0px;
  color: $background-color;
}

.caption p {
  margin-bottom: 15px;
  color: $background-color;
}

.user-posts h1 {
  font-family: $font-stack;
  font-weight: 200;
  text-align: center;
  margin-top: 0px;
  padding: 20px 0px;
  color:$background-color;
}

.user-posts p {
  font-family: $font-stack;
  font-weight: 200;
  text-align: center;
  margin-bottom: 30px;
  font-size: 17px;
}

.user-posts img {
  margin-bottom: 20px;
}

#user-btn {
  color: $white;
  background: $secondary-color;
  margin-right: 5px;
}

.thumbnail iframe {
  height: 100%;
  width: 100%;
}

.post-form-modal  {
  .modal-content {
    background:#066964;
  }

  .modal-header {
    background:#066964;
    border: none;
    color: $white;
  }

  .modal-body {
    color: $white;
  }

  .nav-tabs {
    border: none;

    &:first-child {
      margin-left: 0px;

      a {
        background: #233E47;color: $white;
      }
    }
  }

  .chosen-select {
    color: #333;
  }
}

/*  Media Queries  */

/* Custom */

/* Custom, iPhone Retina */

@media only screen and (max-width : 480px) {
  .user-posts ul {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 0px;
  }
  #posts-container {
    padding: 0px;
  }

  .thumbnail {
    box-shadow: none;
    border: none;
  }

  .thumbnail h3 {
    text-align: center;
  }

  #thumbnail-container {
    padding: 0px;
  }

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width : 768px) {
  .user-posts ul {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 0px;
  }
  #posts-container {
    padding: 0px;
  }

  .thumbnail {
    box-shadow: none;
    border: none;
  }

  .thumbnail h3 {
    text-align: center;
  }

  #thumbnail-container {
    padding: 0px;
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
