/* profile page layout */

/* Profile container */

.profile {
  margin: 75px 0px;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 30px 0 10px 0;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.profile-user-title {
  text-align: center;
  margin-top: 20px;
}

.profile-user-title-name {
  font-size: 32px;
  margin-bottom: 7px;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  color: #0B4CD6;
}

.profile-user-title-motto {
  font-size: 18px;
  margin-bottom: 15px;
  padding: 0px 10px;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  color: #0B4CD6;
}

.profile-user-btns {
  text-align: center;
  margin-top: 10px;
}

.profile-user-btns .btn {
  font-family: 'Kanit', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
}

.inbox-btn {
  background: var(--secondary-color);
  border: none;
  margin-right: 0px;
}

.message-btn {
  background: #233E47;
  border: none;
}

.profile-user-menu {
  margin-top: 30px;
}

.profile-user-menu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-user-menu ul li:last-child {
  border-bottom: none;
}

.profile-user-menu ul li a {
  font-size: 14px;
  font-weight: 400;
}

.profile-user-menu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-user-menu ul li a:hover {
  background-color: #fafcfd;
  color: #000;
}

.profile-user-menu ul li.active {
  border-bottom: none;
}

.profile-user-menu ul li.active a {
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  min-height: 460px;
}

/* images */

.images img {
  margin-bottom: 20px;
}

#add-img {
  height: 150px;
  width: 250px;
}


/* sign up */

.signup {
  text-align: center;
  height: 100vh;
  display: flex;
  background: #fb4148;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  background-size: cover;
}

.signup h2 {
  margin: 0;
  padding-bottom: 10px;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  font-size: 43px;
  color: rgba(13, 0, 61, .9);
}

.signup mark {
  color: rgba(13, 0, 61, .9);
  padding: 0px;
  background: none;
}

.signup a {
  color: rgba(13, 0, 61, .9);
}

.signup a:hover {
  background: none;
  text-decoration: none;
}

.signup label {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 15px;
  color: rgba(13, 0, 61, .9);
}

.signup input {
  padding: 12px 12px;
  color: rgba(13, 0, 61, .9);
  background: none;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: thin solid rgba(13, 0, 61, .9);
}

.field_with_errors {
  margin: 0 auto;
}

#error_explanation {
  margin: 0 auto;
}

/* log in */

.login {
  text-align: center;
  background: #fb4148;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  background-size: cover;
}

.login h2 {
  margin: 0;
  padding-bottom: 10px;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  font-size: 43px;
  color: rgba(13, 0, 61, .9);
}

.login mark {
  color: rgba(13, 0, 61, .9);
  padding: 0px;
  background: none;
}

.login a {
  font-size: 20px;
  font-weight: 400;
  padding: 6px 0px;
  color: rgba(13, 0, 61, .9);
}

.login a:hover {
  color: rgba(13, 0, 61, .9);
  background: none;
  text-decoration: none;
}

.login label {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 15px;
  color: rgba(13, 0, 61, .9);
}

.login input {
  padding: 12px 12px;
  color: rgba(13, 0, 61, .9);
  background: none;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: thin solid rgba(13, 0, 61, .9);
}

#remember-me-field label {
  margin-left: 10px;
}

/* user settings */

.edit-profile-wrapper {
  background: #fb4148;
}

#edit-profile-container {
  margin-top: 53.2px;
}

#edit-profile-dashboard {
  padding: 0px;
}

#edit-profile-image {
  height: 275px;
  background: #EDEDED;
  @include display(flex);
  @include align-items(center);
}

#edit-profile-image img {
  margin: 0 auto;
  height: 50%;
  border-radius: 50%;
}

#edit-profile-motto {
  height: 275px;
  background: #fb4148;
  text-align: center;
  @include display(flex);
  @include align-items(center);
}

#edit-profile-motto input {
  margin: 0 auto;
  border: none;
  color: rgba(13, 0, 61, .9);
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  padding: 25px 25px;
}

#edit-profile-show {
  height: 550px;
  padding-left: 20px;
  background: #E5E5E5;
  font-family: 'Kanit', sans-serif;
}

#edit-profile-show h3 {
  font-weight: 400;
  color: #2E3133;
}

#edit-profile-show input {
  border: none;
  color: rgba(13, 0, 61, .9);
  padding: 5px 0px;
}

#edit-profile-show ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#edit-profile-show li {
  display: inline;
  margin: 0px 10px;
}

#edit-profile-show li a {
  color: #FFF;
  background: #fb4148;
  padding: 10px 10px;
  cursor: pointer;
}

#edit-profile-show li input {
  padding: 10px 10px;
  cursor: pointer;
}

#edit-profile-show li a:hover {
  text-decoration: none;
}

.changepassword {
  background: #3E3837;
  color: #FFF;
  padding: 30px 30px;
}

.cancel-account {
  height: 250px;
  background: #fb4148;
  color: #FFF;
  padding: 30px 30px;
}

.cancel-account a {
  color: #FFF;
  text-decoration: none;
}

.cancel-account input {
  padding: 10px 10px;
  color: #2E3133;
}

.user-post {
  padding: 0px;
  margin-top: 10px;
}

/*  Media Queries  */

/* Custom */

/* Custom, iPhone Retina */

@media only screen and (max-width : 480px) {
  #edit-profile-motto {
    height: 75px;
  }
  #edit-profile-show {
    background: #FFF;
  }
  #edit-profile-show input {
    background: rgba(13, 0, 61, .9);
    color: #FFF;
  }
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width : 768px) {
  #edit-profile-motto {
    height: 125px;
  }
  #edit-profile-show {
    background: #FFF;
  }
  #edit-profile-show input {
    background: rgba(13, 0, 61, .9);
    color: #FFF;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
