/* profile page layout */

.profileheader {
    background: #2a83c6;
    color: #FFF;
}

.profileimg {
    border-radius: 50%;
    height: 30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 20px;
    border-color: rgba(255,255,255, .8);
}

.profileheader h1 {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
    margin: 10px 0px;
    text-align: center;
}

.profileheader h2 {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
}

.profileheader p {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
    padding-bottom: 30px;
    margin: 10px 0px;
    text-align: center;
}

.profileheader a {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
    color: #FFF;
    padding: 0px 30px;
    font-size: 24px;
    line-height: 60px;
    text-decoration: none;
}

.profileheader a:hover {
    background: none;
}

/* supporting */

.supporting {
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    padding: 10px 0px;
}

.supporting ul {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.supporting li {
    display: inline;
    padding: 0px 30px;
}

/* glyphicons, had to add IDs for each instead of using the class 
the styling was being added to other pages which called for the glyphicon
class */

#one, #two, #three {
    cursor: pointer;
    color: #FFF;
    border-style: solid;
    border-width: 2px;
    border-color: #2a83c6;
    border-radius: 50%;
    padding: 20px;
    background: #2a83c6;
}

#one:hover, #two:hover, #three:hover {
    cursor: pointer;
    color: #2a83c6;
    border-style: solid;
    border-width: 2px;
    border-color: #2a83c6;
    border-radius: 50%;
    padding: 20px;
    background: #FFF;
}



.modal-header {
    background: #2A83C6;
    color: #FFF;
}

.modal-body {
    color: #2A83C6;
}

.modal-body li {
    display: inline;
    list-style-type: none;
    margin: 10px 10px;
    cursor: pointer;
}

.modal-body li a {
    background: #2a83c6;
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
}

.modal-body li a:hover {
    text-decoration: none;
}

/* images */

.images {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(flex-start);
  @include align-content(flex-start);
  @include align-items(flex-start);

  img {
    margin: 20px;
  }
}

#addimg {
  height: 170px;
  width: 250px;
}


/* sign up */

.signup {
	text-align: center;
	color: #FFF;
	background: #2A83C6;
	height: 100vh;
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    background: url('signup.jpg');
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.signup h2 {
	margin: 0;
	padding-bottom: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.signup a {
	color: #FFF;
}

.field_with_errors {
    margin: 0 auto;
}

#error_explanation {
    margin: 0 auto;
}

/* log in */

.login {
	text-align: center;
	color: #FFF;
	background: #2A83C6;
	height: 100vh;
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    background: url('signup.jpg');
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.login h2 {
	margin: 0;
	padding-bottom: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.login a {
	color: #FFF;
}


/* user settings */

.banner {
    padding: 0px 30px;
}

.changepassword {
	background: #3E3837;
	color: #FFF;
	padding: 30px 30px;
}

.cancelaccount {
	height: 250px;
	background: #2A83C6;
	color: #FFF;
	padding: 30px 30px;
}

.cancelaccount a {
	color: #FFF;
	text-decoration: none;
}

/*  Media Queries  */

/* Custom */ 

/* Custom, iPhone Retina */

@media only screen and (max-width : 480px) {
    .profileimg {
        height: 45%;
        width: 45%;
    }
    .supporting li {
        padding: 0px 8px;
    }
}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width : 768px) {
    .profileimg {
        height: 45%;
        width: 45%;
    }
    
    .supporting li {
        padding: 0px 20px;
    }

}	

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}	

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .profileimg {
        height: 20%;
        width: 20%;
    }
}
