/* profile page layout */

/* Profile container */
.profile {
  margin: 75px 0px;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #F8F8F8;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #000;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #F8F8F8;
  min-height: 460px;
}

/* modals */

.modal-header {
  background: #2A83C6;
  color: #FFF;
}

.modal-body {
  color: #2A83C6;
}

.modal-body li {
  display: inline;
  list-style-type: none;
  margin: 10px 10px;
  cursor: pointer;
}

.modal-body li a {
  background: #2a83c6;
  color: #FFF;
  padding: 5px;
  border-radius: 5px;
}

.modal-body li a:hover {
  text-decoration: none;
}

.submitimg {
  margin: 15px;
  margin-left: 0px;
  background: #2a83c6;
  color: #FFF;
}

label {
  margin: 10px 0px;
}

/* images */

.images img {
  margin-bottom: 20px;
}

#addimg {
  height: 150px;
  width: 250px;
}


/* sign up */

.signup {
  text-align: center;
  color: #FFF;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  background: url('sanfran.jpg');
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.signup h2 {
  margin: 0;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #FFF;
}

.signup a {
  color: #FFF;
}

.signup label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.signup input {
  border:none;
  padding: 10px 0px;
  color: #2E3133;
}

.field_with_errors {
  margin: 0 auto;
}

#error_explanation {
  margin: 0 auto;
}

/* log in */

.login {
  text-align: center;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  background: url('sanfran.jpg');
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.login h2 {
  margin: 0;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 36px;
}

.login a {
  color: #FFF;
}

.login label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.login input {
  border:none;
  padding: 10px 0px;
  color: #2E3133;
}

/* user settings */

#editprofilecontainer {
  margin-top: 53.2px;
}

#editprofiledashboard {
  padding: 0px;
}

#editprofileimage {
  height: 275px;
  background: #EDEDED;
  @include display(flex);
  @include align-items(center);
}

#editprofileimage img {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

#editprofilemotto {
  height: 275px;
  background: #3F82CF;
  text-align: center;
  @include display(flex);
  @include align-items(center);
}

#editprofilemotto input {
  margin: 0 auto;
  border: none;
  color: #0166FF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 5px 0px;
}

#editprofileshow {
  height: 550px;
  padding-left: 20px;
  background: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
}

#editprofileshow h3 {
  font-weight: 400;
  color: #2E3133;
}

#editprofileshow input {
  border: none;
  color: #0166FF;
  padding: 5px 0px;
}

#editprofileshow ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#editprofileshow li {
  display: inline;
  margin: 0px 10px;
}

#editprofileshow li a {
  color: #FFF;
  background: #0166FF;
  padding: 10px 10px;
  cursor: pointer;
}

#editprofileshow li input {
  padding: 10px 10px;
  cursor: pointer;
}

#editprofileshow li a:hover {
  text-decoration: none;
}

.changepassword {
  background: #3E3837;
  color: #FFF;
  padding: 30px 30px;
}

.cancelaccount {
  height: 250px;
  background: #3F82CF;
  color: #FFF;
  padding: 30px 30px;
}

.cancelaccount a {
  color: #FFF;
  text-decoration: none;
}

.cancelaccount input {
  padding: 10px 10px;
  color: #2E3133;
}

/*  Media Queries  */

/* Custom */ 

/* Custom, iPhone Retina */

@media only screen and (max-width : 480px) {
  #editprofilemotto {
    height: 75px;
  }
  #editprofileshow {
    background: #FFF;
  }
  #editprofileshow input {
    background: #3F82CF;
    color: #FFF;
  }
}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width : 768px) {
  #editprofilemotto {
    height: 125px;
  }
  #editprofileshow {
    background: #FFF;
  }
  #editprofileshow input {
    background: #3F82CF;
    color: #FFF;
  }
}	

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}	

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
