// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* map */

.dashboard {
  position: absolute;
  width: 250px;
  height: 100%;
  left: 0;
  z-index: 3;
  background-color: #FFF;
}

.meetups {
  position: absolute;
  width: 265px;
  margin-left: 250px;
  height: 100%;
  left: -100%;
  z-index: 2;
  background-color: #0166FF;
  color: #fff;
}

.meetups h1, .meetups h2, .meetups  h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin-left: 20px;
}

.meetups h1 {
  margin-top: 10px;
}

.meetups h3 {
  margin-top: 10px;
}

.meetups ul {
  list-style-type: none;
  padding: 0px;
  margin-left: 20px;
}

#meetupstime li {
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

#meetupsattendees li {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

#closemeetupsbutton {
  float: right;
  padding: 15px;
  cursor: pointer;
}

.hamburgerbutton {
  position: absolute;
  z-index: 1;
}

#hamburgerbutton {
  height: 50px;
  width: 50px;
  padding: 10px;
  cursor: pointer;
  color: #00337F;
  margin-left: 7px;
}

.navtools ul {
  list-style-type: none;
  padding: 0px;
}

.navtools li {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  height: 75px;
  cursor: pointer;
  line-height: 75px;
  font-size: 16px;
  text-align: left;
  padding-left: 37px;
}

.navtools li:hover {
  background: #E5E5E5;
}

.navtools li p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  margin-top: 9px;
  padding-left: 10px;
  font-size: 15px;
  letter-spacing: 1px;

}

.navtools li a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  margin-top: 1px;
  text-decoration: none;
  font-size: 15px;

}

.navtools li a:hover {
  background: none;
  color: #FFF;
}

.input-group {
  padding-top: 20px;
  padding-right: 40px;
}

.form-control {
  height: 37.2px;
}

#searchli {
  padding-left: 23px;
  background: #FFF;

  #form {
    @include display(flex);

    #map-search-button {
      width: 30%;
      border: 0;

      span {
        font-size: 22px;
        border: 0;
      }
    }

    #search-input {
      border: 1;
      border-radius: 0;
      width: 100%;
    }
  }
}

span {
  vertical-align: middle;
  padding-right: 6px;
}

#myMap {

}

#fullscreenbutton {

}

.alert {
  z-index: 1;
  position: absolute;
  right: 0;
  margin: 15px;
}

#new-location-error-modal-button {
  color: #FFF;
  border: none;
}

/*  Media Queries  */

/* Custom */ 

@media only screen and (max-width: 370px) {
  #spots-modal-body ul {
    padding-left: 0px;
  }
  .meetups {
    margin-left: 0px;
    z-index: 3;
  }
}

@media only screen and (min-width: 370px) and (max-width: 472px) {
  #spots-modal-body ul {
    padding-left: 0px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 472px) and (max-width : 565px) {
  #spots-modal-body ul {
    padding-left: 0px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 565px ) and (max-width : 768px) {


}	

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 992px) {

}	

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1200px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}