// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "utf-8";
/* CSS Document */

html, body {
	margin: 0;
	padding: 0;
}

#heading {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 45px;
	float: left;
	background-color: rgba(0, 0, 0, .5);
}

.greetingbox {
	height: 400px;
	background-color: #023C4D;
	background-attachment: fixed;
	background-image: url('two.jpg');
	background-size: cover;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.removegreetingbox {
	display: none;
}

#mapiconmobile {
    display: none;
}

#mapicondesktop {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	display: relative;
    height: 68px;
    width: 100px;
    background-color: #3570A4;
    text-align: center;
    line-height: 67px;
    cursor: pointer;
    color: #FFF;
    font-size: 35px;
    float: right;
}

#mapicondesktop:hover {
    background-color: #FFF;
    color: #000;
}

.imgcontainer {
}

.mapmenudivoff {
	display: none;
}

.mapmenudivon {
	display: inherit;
	margin-top: 0px;
}

#mapmenu { 
	position: absolute;
	z-index: 1;
	margin: 0; 
	padding: 0; 
	list-style: none;
}

.mapmenuitem { 
	margin: 0; 
	padding: 0;
	border-style: thin solid #000;
	height: 80px;
	width: 105px;
	color: #FFF;
	text-align: center;
	line-height: 75px;
	cursor: pointer;
}

.mapmenuitem:hover {
	opacity: .8;
}

#closebutton {
	
}

#desktopnavdiv ul {
	list-style: none;
	color: #000;
	font-size: 20px;
	line-height: 85px;
	padding: 0;
	margin: 0;
	margin-left: 50%;
}

#desktopnavdiv ul li {
	display: inline;
	margin-left: 2%;
	margin-right: 2%;
}


#findmebutton {

}


#mobilenavbutton {
	height: 70px;
	width: 85px;
	background-color: #3570A4;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    cursor: pointer;
    color: #FFF;

}


#mobilenavdiv {
	height: 340px;
	background-color: #046380;
	width: 50%;
	margin-right: 30%;
	position: absolute;
	opacity: .8;
	left: -100%;

}

#mobilenavdiv ul {
	list-style-type: none;
}

#mobilenavdiv ul li {
	color: #FFF;
	font-size: 18px;
	line-height: 50px;
	cursor: pointer;
}

#tripsimg {
	float: left;
	margin-right: 55%;
	width: 45%;
	height: 325px;
	background-size: cover;
	background-image: url('trips.jpg');
}

#tripstxt {
	margin-left: 45%;
	width: 55%;
	height: 325px;
	background-color: #FFF;
}

#generalinfowrapper {
	height: 450px;
	background-size: cover;
	background-attachment: fixed;
	background-image: url('five.jpg');
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 25px;
}

#generalinfodiv {
	background-color: #3570A4;
	height: 400px;
	width: 100%;
	opacity: .75;
}

#footer {
	height: 200px;
	background-color: #069ECC;
	background-size: cover;
	background-attachment: fixed;
	background-image: url('one.jpg');
	margin: 0;
	padding: 0;
}

.mapbox {
	overflow: hidden;
}

#myMap {
	float: left;
	position: absolute;
	left: -100%;
	height: 400px;
	width: 100%;
	z-index: 0;
}

input {
	height: 35px;
	color: #000;
	background-color: #FFF;
	text-align: center;
}

.mymapoff {
	display: none;
}

.mymapon {
	display: inherit;
	z-index: 0;
}


#titlediv {
	height: 0px;
}

#title {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2em;
	font-weight: 200;
	padding: 20px;
	padding-top: 25px;
	text-align: right;
	cursor: pointer;
	color: #000;
	margin: 0;
	background-color: #FFF;
}


.openmap {
	font-family: 'Roboto', sans-serif;
	font-size: 22px; 
	font-weight: 300;
	color: #fff;
	text-align: center; 
	border: thin solid rgba(223, 226, 219, .5);
	margin: 0;
	padding: 0;
	margin-left: 43%;
	margin-right: 43%;
	margin-bottom: 40px;
	padding-top: 7px;
	padding-bottom: 7px;
}

#pinimage {
	cursor: pointer;
}

p {
	margin: 0;
	padding: 0;
}



h2 {
}