// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "utf-8";
/* CSS Document */

html, body {
	margin: 0;
	padding: 0;
}

.greetingbox {
	height: 450px;
	background-color: #77C4D3;
	background-attachment: fixed;
	background-image: url("greetingimg");
	background-size: cover;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.removegreetingbox {
	display: none;
}

.mapicon {
    height: 150px;
    width: 150px;
}

.imgcontainer {
	background-color: rgba(255,255,255,.7);
	padding: 75px;
	border-radius: 50%;
}

.navdiv {
	background-color: #333745;
	margin: 0;
	padding: 0;
	height: 75px;
}

.navdivoff {
	display: none;
}

#maplist {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 0px;
	margin-top: 413px;
}

#maplistitemone {
	position: relative;
	color: #FFF;
	display: inline;
	font-size: 20px;
	background-color: #333745;
	padding: 15px;
	padding-left: 4%;
	padding-right: 4%;
	z-index: 1;
	cursor: pointer;
}

#maplistitemtwo {
	position: relative;
	color: #333745;
	display: inline;
	font-size: 20px;
	background-color: #DAEDE2;
	padding: 15px;
	padding-left: 14%;
	padding-right: 14%;
	z-index: 1;
}

#maplistitemthree {
	position: relative;
	color: #FFF;
	display: inline;
	font-size: 20px;
	background-color: #EA2E49;
	padding: 15px;
	z-index: 1;
	cursor: pointer;
}

.addformoff {
	display: none;
}

.addformon {
	display: inherit;
	position: absolute;
	height: 300px;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 50px;
	background-color: #F6F792;
	z-index: 1;
	opacity: 0.8;
	box-shadow: 10px 10px 5px #888888;
}

form {
	padding: 15px;
	color: #333745;
	font-size: 25px;
}

input {
	width: 150px;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-right: 13px;
}

.featuredcontent {
	background-color: #FFF;
	height: 450px;
	margin: 0;
	padding: 0;
}

.footer {
	height: 200px;
	background-color: #EA2E49;
	margin: 0;
	padding: 0;
}

.mapbox {
	overflow: hidden;
}

.controlsoff {
	display: none;
}

.controlson {
	display: inherit;
	position: absolute;
	float: left;
	height: 383px;
	width: 0%;
	background-color: #FFF;
	margin: 0;
	padding:0;
	background-image: url(mantwo.jpg);
}

#myMap {
	float: left;
	position: absolute;
	left: -1000px;
	height: 450px;
	width: 100%;
}

input {
	height: 35px;
	color: #000;
	background-color: #FFF;
	text-align: center;
}

.mymapoff {
	display: none;
}

.mymapon {
	display: inherit;
}

.videostop {
	display: none;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 3em;
	font-weight: 200;
	text-align: center;
	cursor: default;
	color: #FFF;
	margin: 0;
	line-height: 75px;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	font-weight: 100;
	font-style: italic;
	text-align: center;
	cursor: default;
	color: #000;
	margin: 0;
	padding-top: 25px;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	font-weight: 100;
	text-align: center;
	line-height: 250PX;
	cursor: default;
	color: #FFF;
	margin: 0;
	padding: 0;
}

.date {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 100;
	text-align: left;
	cursor: default;
	color: #000;
	margin: 0;
	padding: 0;
}

.paragraph {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight: 100;
	text-align: left;
	cursor: default;
	color: #000;
	margin: 0;
	padding: 0;
}

.openmap {
	font-family: 'Roboto', sans-serif;
	font-size: 22px; 
	font-weight: 300;
	color: #fff;
	text-align: center; 
	border: thin solid rgba(223, 226, 219, .5);
	margin: 0;
	padding: 0;
	margin-left: 43%;
	margin-right: 43%;
	margin-bottom: 40px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.controlslist {
	position: relative;
    top: 44%;
    transform: translateY(-50%);
	font-size: 1em;
	font-family: "Lao UI";
	color: #000;
	list-style-type: none;
	padding: 10px;
	background-color: rgba(255,255,255, .4);
	width: 70%;
	margin-left: 11%;
	-webkit-box-shadow: 1px 1px 1px 1px #303030;
    -moz-box-shadow:    2px 2px 1px 1px #303030;
    box-shadow:         1px 1px 1px 1px #303030;
}

.activebutton {
	opacity: .5;
}

#findmebutton {
	cursor: pointer;
	color: #FFF;
	text-align: center;
	height: 75px;
}


#addspotbutton {
	cursor: pointer;
	color: #FFF;
	text-align: center;
	height: 30px;
	margin: 0;
	padding: 0;
}

#closemapbutton {
	cursor: pointer;
	color: #FFF;
	text-align: center;
	height: 75px;
}


#locateicon {
	display: block;
    margin: auto;
	padding-top: 7px;
	cursor: pointer;
}

#addicon {
	display: block;
    margin: auto;
	padding-top: 7px;
	cursor: pointer;
}


#closeicon {
	display: block;
    margin: auto;
	padding-top: 7px;
	cursor: pointer;
}

#pinimage {
	display: block;
	cursor: pointer;
}

.mapbuttonhighlight {
	color: #000;
	background-color: #FFF;
}

.controlslist img {
  height: 60px;
}

.socialtext {
	margin: 0;
	padding-left: 30px;
	padding-top: 50px;
	padding-right: 45px;
	list-style-type: none;
	float: left;
}

.socialtextitem {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	color: #FFF;
	margin: 0;
	cursor: pointer;
}
