/* document */

body {
  padding-right: 0px !important
}

.container-fluid {
  padding: 0;
}

.row {
	margin: 0;
	padding: 0;
}


/* header */

.header {
    height: 550px;
    background: url('overview.jpg');
    background-size: cover;
}

.dropdown-menu {
    text-align: center;
}

.navigation {
    height: 100px;
    background: rgba(51,51,51, .5);
}

.navigation ul {
    margin-right: 30px;
    margin-top: 30px;
}

.navigation a {
    color: #FFF;
    border: solid;
    border-color: #FFF;
    border-radius: 12px;
    border-width: 2px;
    margin: 0px 5px;
    
}

.navigation a:hover {
    background-color: #333333;
    
}

.content {
    height: 340px;
    text-align: center;
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.content h1 {
    font-size: 154px;
    margin: 0px;
    line-height: 340px;
}

.find {
    height: 110px;
    background: rgba(42,131,198,.75);
}

.find ul {
    color: #FFF;
    list-style-type: none;
    text-align: center;
    line-height: 110px;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
    font-size: 32px;
    padding: 0px;
    margin-right: 20px;
}

.find li {
    display: inline;
    padding: 0px 5px;
}

.find a {
    cursor: pointer;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	padding: 5px 20px;
    background: none;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: #FFF;
    text-decoration: none;
    COLOR: #FFF;
    font-size: 32px;
}

/* display */

.display {
	text-align: center;
	color: #243846;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.display .container div {
	height: 600px;
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.display img {
	width: 250px;
}

.display p {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
    font-size: 26px;
    line-height: 28px;
}

/* user content */

.usercontent {
	height: 350px;
	background: url('testing.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.usercontent p {
	color: #FFF;
	text-align: center;
	font-size: 54px;
	line-height: 350px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.usercontent a {
    color: #FFF;
	text-decoration: none;
    padding: 0px 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFF;
    border-radius: 8px;
}

/* footer */

.footer {
  background-color: #6E6B62;
  padding: 20px 0px 80px;
  color: #FFF;
  text-align: right;
}

.footer h1 {
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 45px;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer li {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

/*  Media Queries  */

/* Custom */ 

/* Custom, iPhone Retina */


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 768px) {
    .usercontent {
        height: 250px;
    }
    .usercontent p {
        line-height: 250px;
        font-size: 42px;
    }
}	

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}	

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.header {
		background-size: 100% 130%;
	}

}
