/* document */

body {
  padding-right: 0px !important
}

.container-fluid {
  padding: 0;
}

.row {
	margin: 0;
	padding: 0;
}

/* header */

.header {
    background: url('overview.jpg');
    background-size: cover;
    color: #FFF;
}

.header .container-fluid div {
	height: 550px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    padding: 0px;
}

.header h1 {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.header ul {
    list-style: none;
    padding: 0;
}

.header a {
    cursor: pointer;
	border: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 24px;
	padding: 15px 30px;
    letter-spacing: 1px;
    border-radius: 8px;
    background: none;
    border-style: solid;
    border-width: 2px;
    border-color: #FFF;
    text-decoration: none;
    margin: 10px 0px;
    COLOR: #FFF;
}

#mainnav {
    background: rgba(42,131,198, .8);
}

#headerpicture {
    margin: 0;
    padding: 0;
}

/* display */

.display {
	text-align: center;
	color: #243846;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.display .container div {
	height: 600px;
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.display img {
	width: 250px;
}

.display p {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
    font-size: 32px;
    padding-left: 25%;
    line-height: 30px;
}

/* user content */

.usercontent {
	height: 350px;
	background: url('testing.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.usercontent p {
	color: #FFF;
	text-align: center;
	font-size: 54px;
	line-height: 350px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.usercontent a {
    color: #FFF;
	text-decoration: none;
    padding: 0px 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFF;
    border-radius: 8px;
}

/* footer */

.footer {
  background-color: #6E6B62;
  padding: 20px 0px 80px;
  color: #FFF;
  text-align: right;
}

.footer h1 {
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 45px;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer li {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

/*  Media Queries  */

/* Custom */ 

/* Custom, iPhone Retina */


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 768px) {
    #mainnav {
        height: 110px;
        background: rgba(42,131,198, 1);
    }
    #headerpicture {
        display: none;
    }
    .header .container-fluid div {
        text-align: left;
    }
    .header h1 {
        margin: 0px;
    }
    .header ul {
        margin: 0px;
        background-color: #FFF;
    }
    .header li {
        display: inline;
    }
    .header a {
        font-size: 20px;
        padding: 3px 5px;
        margin: 0px;
        border: none;
        color: #000;
    }
    .display {
        display: none;
    }
    .usercontent {
        height: 250px;
    }
    .usercontent p {
        line-height: 250px;
        font-size: 42px;
    }
}	

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}	

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.header {
		background-size: 100% 130%;
	}

}
