/* document */

body {
  padding-right: 0px !important
}

.container-fluid {
  padding: 0;
}

.row {
	margin: 0;
	padding: 0;
}


/* mobile header + about div  */

.mobileheader {
    height: 150px;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
    padding-left: 15px;
}

.mobileheader h1 {
    font-size: 40px;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.mobileheader ul {
    padding: 0px;
    margin: 0px;
}

.mobileheader li {
    margin: 5px 5px;
    list-style-type: none;
    display: inline;
}

.mobileheader a {
    text-decoration: none;
}

.mobileheader a:hover {
    background: none;
    color: #000;
}

.about {
    height: 50px;
    background: #000;
    color: #FFF;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.about p {
    line-height: 50px;
    padding-left: 15px;
}

/* header */

.header {
    height: 550px;
    background: #333333;
    background: url('hilltwo.jpg');
    background-size: cover;
}

/* nav */

.dropdown-menu {
    text-align: center;
}

.navigation {
    height: 100px;
}

.nav-pills {
    padding: 20px 15px;
    float: right;
}

.nav-pills > li > a {
    color: #FFF;
    border: solid;
    border-color: #FFF;
    border-width: 2px;
    margin: 0px 5px;
}

.nav-pills > li > a:hover {
    background-color: #2A83C6;
    border-color: #2A83C6;
}

/*content*/

.content {
    height: 290px;
    text-align: center;
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

.content h1 {
    font-size: 154px;
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.content a {
    color: #FFF;
    background: none;
    font-size: 16px;
    padding: 12px 22px;
    text-decoration: none;
    border: solid #FFF;
    border-width: 2px;
    border-radius: 4px;
}

.content a:hover {
    background-color: #2A83C6;
    border: #2A83C6;
    
}

/*find */

.find {
    height: 110px;
    text-align: center;
    background: rgba(0,0,0,.0);
}

#form {
    padding-bottom: 25px;
}

#search {
  background: transparent none repeat scroll 0% 0%;
  border-width: 0px 0px 1px;
  border-style: none none solid;
  border-color: -moz-use-text-color -moz-use-text-color #FFF;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-radius: 0px;
  color: #FFF;
  font-size: 18px;
  margin: 0px 2px;
  width: 325px;
}

#searchbutton {
    color: #FFF;
    background: transparent none repeat scroll 0% 0%;
	border: 1px solid #FFF;
	border-radius: 4px;
    border-width: 2px;
	padding: 8px 18px;
    margin: 0px 2px;
    margin-bottom: 2px;
    text-decoration: none;
}

#searchbutton:hover {
    background-color: #2A83C6;
    border: #2A83C6;
}

/* display */

.display {
	text-align: right;
}

.display .container div {
	height: 550px;
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.display img {
	width: 250px;
}

.display p {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
    color: #333333;
    font-size: 26px;
    line-height: 28px;
}

/* user content */

.usercontent {
	height: 350px;
	background: url('usercontent.jpg');
	background-size: cover;
    text-align: center;
}

.usercontent a {
    line-height: 350px;
	color: #FFF;
	font-size: 54px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
    margin: 0px;
    text-decoration: none;
    padding: 20px 40px;
    border: solid #FFF;
    border-width: 2px;
    
}

.usercontent a:hover {
    background: none;
}


/* footer */

.footer {
  background-color: #243846;
  padding: 20px 0px 80px;
  color: #FFF;
  text-align: right;
}

.footer h1 {
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 45px;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer li {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

.reference {
    display: none;
}











/*  Media Queries  */

/* Custom */ 

@media only screen and (max-width: 370px) {
    .navigation {
        display: none;
    }
    #header {
        height: 300px;
        background-attachment: scroll;
    }
    .content {
        height: 225px;
    }
    .content h1 {
        display: none;
    }
    .content a {
        font-size: 32px;
        padding: 12px 22px;
        line-height: 300px;
        border-radius: 0px;
    }
    .find {
        display: none;
    }
    .display {
        text-align: left;
    }
    .display .container div {
        height: 300px;
    }
    .display p {
        font-size: 16px;
    }
    #explorecol {
        display: none;
    }
    .usercontent {
        height: 250px;
    }
    .usercontent a {
        line-height: 250px;
        padding: 10px 20px;
        font-size: 32px;
    }
    .usercontent p {
        line-height: 250px;
        font-size: 42px;
    }
    #contactfooter {
        display: none;
    }
}
    
@media only screen and (min-width: 370px) and (max-width: 472px) {
    .navigation {
        display: none;
    }
    #header {
        height: 325px;
        background-attachment: scroll;
    }
    .content {
        height: 225px;
    }
    .content h1 {
        display: none;
    }
    .content a {
        font-size: 32px;
        padding: 12px 22px;
        line-height: 325px;
        border-radius: 0px;
    }
    .header {
        height: 440px;
    }
    .find {
        display: none;
    }
    .display {
        text-align: left;
    }
    .display .container div {
        height: 250px;
    }
    .display p {
        font-size: 16px;
    }
    #explorecol {
        display: none;
    }
    .usercontent {
        height: 250px;
    }
    .usercontent a {
        line-height: 250px;
        padding: 10px 20px;
        font-size: 32px;
    }
    .usercontent p {
        line-height: 250px;
        font-size: 42px;
    }
    #contactfooter {
        display: none;
    }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 472px) and (max-width : 565px) {
    .navigation {
        display: none;
    }
    #header {
        height: 350px;
        background-attachment: scroll;
    }
    .content {
        height: 225px;
    }
    .content a {
        font-size: 32px;
        padding: 12px 22px;
        line-height: 350px;
        border-radius: 0px;
    }
    .content h1 {
        display: none;
    }
    .header {
        height: 440px;
    }
    .find {
        display: none;
    }
    .display .container div {
        height: 300px;
    }
    .display p {
        font-size: 16px;
    }
    #explorecol {
        display: none;
    }
    .usercontent {
        height: 250px;
    }
    .usercontent a {
        line-height: 250px;
        padding: 10px 20px;
        font-size: 32px;
    }
    .usercontent p {
        line-height: 250px;
        font-size: 42px;
    }
    #contactfooter {
        display: none;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 565px ) and (max-width : 768px) {
    .mobileheader {
        display: none;
    }
    .about {
        display: none;
    }
    .header {
        height: 440px;
    }
    .navigation ul {
        margin-right: 15px;
        margin-top: 15px;
    }
    .content h1 {
        font-size: 125px;
    }
    .find {
        display: none;
    }
    .display .container div {
        height: 300px;
    }
    .display p {
        font-size: 16px;
    }
    #explorecol {
        display: none;
    }
    .usercontent {
        height: 250px;
    }
    .usercontent a {
        line-height: 250px;
    }
    .usercontent p {
        line-height: 250px;
        font-size: 42px;
    }
    
    #contactfooter {
        display: none;
    }
    
}	

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 992px) {
    .mobileheader {
        display: none;
    }
    .about {
        display: none;
    }
    .display p {
        font-size: 20px;
    }
}	

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1200px) {
    .mobileheader {
        display: none;
    }
    .about {
        display: none;
    }
    display p {
        font-size: 24px;
    }
    .usercontent {
        background-attachment: fixed;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .mobileheader {
        display: none;
    }
    .about {
        display: none;
    }
    .usercontent {
        background-attachment: fixed;
    }
}
