.thumbnail {
  border: 0;

  iframe {
    height: 100%;
    width: 100%;
  }
}

.caption {
  h3 {
    font-weight: $bold;
    margin-top: 0;
    color: $white;
    background-color: $primary-color;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: $black;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  p {
    margin-bottom: 15px;
    color: $background-color;
  }
}

.user-posts {
  padding-top: 60px;
  padding-bottom: 40px;

  h1 {
    font-family: $font-stack;
    font-weight: $bold;
    text-align: center;
    margin-top: 0;
    padding: 20px 0;
  }

  p {
    font-family: $font-stack;
    font-weight: $thin;
    text-align: left;
    margin-bottom: 30px;
    font-size: 17px;
  }

  img {
    margin-bottom: 20px;
  }
}

#user-btn {
  color: $white;
  background: $black;
  margin-right: 5px;
}

@media only screen and (max-width : 480px) {
  .user-posts ul {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 0;
  }

  #posts-container {
    padding: 0;
  }

  .thumbnail {
    box-shadow: none;
    border: 0;
  }

  .thumbnail h3 {
    text-align: center;
  }

  #thumbnail-container {
    padding: 0;
  }

}


@media only screen and (min-width : 480px) and (max-width : 768px) {
  .user-posts ul {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 0;
  }

  #posts-container {
    padding: 0;
  }

  .thumbnail {
    box-shadow: none;
    border: 0;
  }

  .thumbnail h3 {
    text-align: center;
  }

  #thumbnail-container {
    padding: 0;
  }

}

@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}
