.post-container {
  font-family: $font-stack;

  .post-info {
    margin-bottom: 3em;

    .extra-info {
      margin: 2em 0;
      
      ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        overflow: auto;
        
        li:first-child {
          float: left;
        }
        li:last-child {
          float: right;
        }
      }
    }

    .image {
      margin-top: 70px;
      @include display(flex);
      @include justify-content(center);
    }

    mark {
      color: $primary-color;
    }

    h1 {
      font-weight: $bold;
    }

    a {
      font-size: 16px;
      padding: 5px 10px;
      border-radius: 2px;
      color: $white;
      background: $primary-color;

      &:hover {
        text-decoration: none;
        background: #1E3056;
      }
    }

    .user-avatar {
      background: none;

      &:hover {
        background: none;
      }
    }
    
    .profile-back-btn {
     
    }
  }
}
