.post-container {
  font-family: $font-stack;

  .post-info {
    margin-bottom: 3em;

    .extra-info {
      margin: 2em 0;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow: auto;

        li:first-child {
          float: left;
        }

        li:last-child {
          float: right;
        }
      }
    }

    .image {
      @include display(flex);
      @include justify-content(center);
      margin-top: 70px;
    }

    mark {
      color: $primary-color;
      padding: 0;
      margin: 0;
      background: none;
    }

    h1 {
      font-weight: $bold;
    }

    a {
      font-size: 16px;
      padding: 5px 10px;
      border-radius: 2px;
      color: $white;
      background: $primary-color;

      &:hover {
        text-decoration: none;
        background: #1e3056;
      }
    }

    .user-avatar {
      background: none;

      &:hover {
        background: none;
      }
    }
  }
}

@media only screen and (max-width : 480px) {
  .post-container .post-info .extra-info ul li:last-child {
    float: left;
  }
}

@media only screen and (min-width : 480px) and (max-width : 768px) {

}

@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}
