.post-container {
  font-family: $font-stack;

  .image {
    margin-top: 70px;
    @include display(flex);
    @include justify-content(center);
  }
  
  mark {
    color: $primary-color;
  }
  
  h1 {
    font-weight: $thin;
  }
  
  a {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 2px;
    color: $white;
    background: $primary-color;
  }
  
  a:hover {
    text-decoration: none;
    background: #1E3056;
  }
  
}
