<div id='myMap' oncontextmenu="return false">
  
  <div> 
    <ul id="mapmenu">
      <li class="mapmenuitem" style="background-color: #3E3837; color:#FFF;" id="tripsbutton"> 
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      </li> 
      <li class="mapmenuitem" style="background-color: #3E3837;" id="addbutton">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 
      </li>
      <li class="mapmenuitem" style="background-color: #2D2A28;" id="findmebutton">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </li> 
      <li class="mapmenuitem" style="background-color: #2A83C6;" id="starbutton">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      </li>
      <li class="mapmenuitem" style="background-color: #3E3837;" id="closebutton">
        <span class=" glyphicon glyphicon-remove" aria-hidden="true"></span>
      </li>
    </ul>
  </div>

  <div id="tripsdiv">
    <p id="tripsclosebutton"> <span class=" glyphicon glyphicon-ok" aria-hidden="true"></span> </p>
  </div>

</div>
test

<%= render 'modals/new_location_form' %>
<%= render 'modals/new_location_error' %>
