<p id="notice"><%= notice %></p>

need something placeholder here while map loads
<div id='myMap' oncontextmenu="return false">
</div>

<%= render 'locations/form' %>
<%= render 'locations/form_error' %>
