<p id="notice"><%= notice %></p>

<div class="wrapper">
    <div class="dashboard">
        <div class="userinfo">
        </div>
        <div class="navtools">
            <ul>
                <li id="searchli">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class=" glyphicon glyphicon-search" aria-hidden="true" style="font-size: 22px;"></span></span>
                      <input type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
                    </div>
                </li>
                <li><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="font-size: 22px;"></span> <p>Add Something</p> </li>
                <li id="findmebutton"><span class=" glyphicon glyphicon-globe" aria-hidden="true" style="font-size: 22px;"></span> <p>Find Me</p></li>
                <li><span class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 22px;"></span> <p>Favorite</p></li>
                <li id="fullscreenbutton"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true" style="font-size: 22px;color: #2A83C6"></span> <p>Full Screen Mode</p></li>
            </ul>
        </div>
    </div>
    <div id='myMap' oncontextmenu="return false">
        <div class="hamburgerbutton">
            <span class="glyphicon glyphicon-menu-hamburger" id="hamburgerbutton" aria-hidden="true" style="font-size: 50px;"></span>
        </div>
    </div>
</div>

<%= render 'locations/form' %>
<%= render 'locations/form_error' %>
