<p id="notice"><%= notice %></p>

<div class="wrapper">
    <div class="dashboard">
        <div class="userinfo">
        </div>
        <div class="navtools">
            <ul>
                <li>
                    
                </li>
                <li style="padding-right: 40px;"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="font-size: 28px;" id="addglyphicon"></span> <p>Add Something</p> </li>
                <li style="padding-right: 85px;"><span class=" glyphicon glyphicon-search" aria-hidden="true" style="font-size: 28px;" id="addglyphicon"></span> <p>Find Me</p></li>
                <li style="padding-right: 85px;"><span class="glyphicon glyphicon-heart" aria-hidden="true" style="font-size: 28px;" id="addglyphicon"></span> <p>Favorite</p></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div id='myMap' oncontextmenu="return false">
    </div>
</div>

<%= render 'locations/form' %>
<%= render 'locations/form_error' %>
