<p id="notice"><%= notice %></p>

<h1>Locations</h1>
<div id='myMap' oncontextmenu="return false">
</div>
TODO: bug, reload the page

<%= render 'locations/form' %>
<%= render 'locations/form_error' %>
