<p id="notice"><%= notice %></p>

<h1>Locations</h1>
<div id='myMap' oncontextmenu="return false">
</div>
TODO: bug, reload the page

<%= render 'modals/new_location_form' %>
<%= render 'modals/new_location_error' %>
