.edit-profile-wrapper {
  background: $primary-color;
}

#edit-profile-container {
  margin-top: 53.2px;
}

#edit-profile-dashboard {
  padding: 0;
}

#edit-profile-image {
  @include display(flex);
  @include align-items(center);
  height: 275px;
  background: #ededed;

  img {
    margin: 0 auto;
    height: 50%;
    border-radius: 50%;
  }
}

#edit-profile-motto {
  @include display(flex);
  @include align-items(center);
  height: 275px;
  background: $primary-color;
  text-align: center;

  input {
    margin: 0 auto;
    border: 0;
    color: $background-color;
    font-family: $font-stack;
    font-weight: 600;
    padding: 25px;
  }
}

#edit-profile-show {
  height: 550px;
  padding-left: 20px;
  background: #e5e5e5;
  font-family: $font-stack;

  h3 {
    font-weight: 400;
    color: #2e3133;
  }

  input {
    border: 0;
    color: $background-color;
    padding: 5px 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline;
    margin: 0 10px;

    a {
      color: $white;
      background: $primary-color;
      padding: 10px;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }

    input {
      padding: 10px;
      cursor: pointer;
    }
  }
}

.changepassword {
  background: #3e3837;
  color: $white;
  padding: 30px;
}

.cancel-account {
  height: 250px;
  background: $primary-color;
  color: $white;
  padding: 30px;

  a {
    color: $white;
    text-decoration: none;
  }

  input {
    padding: 10px;
    color: #2e3133;
  }
}

.user-post {
  padding: 0;
  margin-top: 10px;
}

@media only screen and (max-width : 480px) {
  #edit-profile-motto {
    height: 75px;
  }

  #edit-profile-show {
    background: $white;
  }

  #edit-profile-show input {
    background: $background-color;
    color: $white;
  }
}

@media only screen and (min-width : 480px) and (max-width : 768px) {
  #edit-profile-motto {
    height: 125px;
  }

  #edit-profile-show {
    background: $white;
  }

  #edit-profile-show input {
    background: $background-color;
    color: $white;
  }
}

@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}
