.edit-profile-wrapper {
  background: $primary-color;
}

#edit-profile-container {
  margin-top: 53.2px;
}

#edit-profile-dashboard {
  padding: 0;
}

#edit-profile-image {
  height: 275px;
  background: #EDEDED;
  @include display(flex);
  @include align-items(center);
}

#edit-profile-image img {
  margin: 0 auto;
  height: 50%;
  border-radius: 50%;
}

#edit-profile-motto {
  height: 275px;
  background: $primary-color;
  text-align: center;
  @include display(flex);
  @include align-items(center);
}

#edit-profile-motto input {
  margin: 0 auto;
  border: none;
  color: $background-color;
  font-family: $font-stack;
  font-weight: 600;
  padding: 25px 25px;
}

#edit-profile-show {
  height: 550px;
  padding-left: 20px;
  background: #E5E5E5;
  font-family: $font-stack;
}

#edit-profile-show h3 {
  font-weight: 400;
  color: #2E3133;
}

#edit-profile-show input {
  border: none;
  color: $background-color;
  padding: 5px 0;
}

#edit-profile-show ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#edit-profile-show li {
  display: inline;
  margin: 0 10px;
}

#edit-profile-show li a {
  color: $white;
  background: $primary-color;
  padding: 10px 10px;
  cursor: pointer;
}

#edit-profile-show li input {
  padding: 10px 10px;
  cursor: pointer;
}

#edit-profile-show li a:hover {
  text-decoration: none;
}

.changepassword {
  background: #3E3837;
  color: $white;
  padding: 30px 30px;
}

.cancel-account {
  height: 250px;
  background: $primary-color;
  color: $white;
  padding: 30px 30px;
}

.cancel-account a {
  color: $white;
  text-decoration: none;
}

.cancel-account input {
  padding: 10px 10px;
  color: #2E3133;
}

.user-post {
  padding: 0;
  margin-top: 10px;
}

/*  Media Queries  */

/* Custom */

/* Custom, iPhone Retina */

@media only screen and (max-width : 480px) {
  #edit-profile-motto {
    height: 75px;
  }
  #edit-profile-show {
    background: $white;
  }
  #edit-profile-show input {
    background: $background-color;
    color: $white;
  }
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width : 768px) {
  #edit-profile-motto {
    height: 125px;
  }
  #edit-profile-show {
    background: $white;
  }
  #edit-profile-show input {
    background: $background-color;
    color: $white;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
