.login {
  align-content: center;
  background: $primary-color;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;

  h2 {
    color: $white;
    font-family: $font-sans;
    font-size: 43px;
    font-weight: $thin;
    margin: 0;
    padding-bottom: 10px;
  }

  mark {
    background: none;
    color: $white;
    padding: 0;
  }

  a {
    color: $white;
    font-size: 20px;
    font-weight: 400;
    padding: 6px 0;

    &:hover {
      background: none;
      color: $white;
      text-decoration: none;
    }
  }

  label {
    color: $white;
    font-family: $font-sans;
    font-size: 22px;
    font-weight: 300;
    margin: 5px 0;
  }

  input {
    background: none;
    border-bottom: thin solid $white;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: $white;
    padding: 12px;
  }
}

#remember-me-field label {
  margin-left: 10px;
}

