.signup {
  text-align: center;
  height: 100vh;
  display: flex;
  background: $primary-color;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-size: cover;

  h2 {
    margin: 0;
    padding-bottom: 10px;
    font-family: $font-stack;
    font-weight: $thin;
    font-size: 43px;
    color: $white;
  }

  mark {
    color: $white;
    padding: 0;
    background: none;
  }

  a {
    color: $white;

    &:hover {
      background: none;
      text-decoration: none;
    }
  }

  label {
    font-family: $font-stack;
    font-weight: 400;
    font-size: 22px;
    margin: 5px 0;
    color: $white;
  }

  input {
    padding: 12px;
    color: $white;
    background: 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: thin solid $white;
  }
}

.field-with-errors {
  margin: 0 auto;
}

#register-col-one {
  background: #042e89;
  padding: 10px;
}

#register-col-two {
  padding: 10px;
}
