.signup {
  text-align: center;
  height: 100vh;
  display: flex;
  background: $primary-color;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  background-size: cover;
}

.signup h2 {
  margin: 0;
  padding-bottom: 10px;
  font-family: $font-stack;
  font-weight: $thin;
  font-size: 43px;
  color: $white;
}

.signup mark {
  color: $white;
  padding: 0;
  background: none;
}

.signup a {
  color: $white;
}

.signup a:hover {
  background: none;
  text-decoration: none;
}

.signup label {
  font-family: $font-stack;
  font-weight: 400;
  font-size: 22px;
  margin: 5px 0px;
  color: $white;
}

.signup input {
  padding: 12px 12px;
  color: $white;
  background: none;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: thin solid $white;
}

.field_with_errors {
  margin: 0 auto;
}
