<!-- Spots Modal -->
<div class="modal fade" id="spot-modal" tabindex="-1" role="dialog" aria-labelledby="my-modal-label">
  <div class="modal-dialog" role="document" id="user-spots-modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="spots-modal-body">
        <div id="left">
          <ul>
            <li id="spots-btn"><span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span></li>
            <% if user == current_user %>
              <li id="spots-edit-btn"><span aria-hidden="true" class="glyphicon glyphicon-edit"></span></li>
            <% end %>
          </ul>
        </div>
        <div id="right">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="user-spots">
            <% if user.spots.any? %>
              <%= react_component 'SpotModalView', { spots: user.spots } %>
            <% else %>
            <p>No spots to view</p>
            <% end %>
          </div>
          <div class="user-spots-edit">
            <% if current_user == user and user.spots.any? %>
              <%= react_component 'SpotModalEdit', { spots: user.spots } %>
            <% else %>
              No spots to edit
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
